@font-face {
  font-family: Futura;
  src: url("../fonts/futura-bk-bt-0140m_.ttf"); }
html, body {
  font-family: Futura, sans-serif;
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  box-sizing: border-box; }

button:focus {
  outline: none; }

.moyn__container {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 0; }
.moyn__header {
  padding-top: 24px;
  box-sizing: border-box; }
  .moyn__header img {
    width: 120px;
    height: auto;
    margin: 32px 0; }
.moyn__footer {
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
  box-sizing: border-box; }
.moyn__navbar--mobile {
  margin: 24px 0;
  float: right;
  display: none; }
.moyn__menu {
  width: 40%;
  padding: 0;
  display: inline-block;
  float: left; }
.moyn__menu-item {
  display: block;
  padding: 8px 0;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px; }
  .moyn__menu-item a {
    color: rgba(255, 255, 255, 0.3); }
  .moyn__menu-item a:hover {
    text-decoration: none; }
  .moyn__menu-item a:hover {
    color: rgba(255, 255, 255, 0.7); }
  .moyn__menu-item.active {
    margin-bottom: 24px; }
  .moyn__menu-item.active, .moyn__menu-item.active a {
    color: rgba(255, 255, 255, 0.7); }
  .moyn__menu-item:after {
    content: "";
    width: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    margin-top: 20px; }
  .moyn__menu-item.active:after {
    width: 100%;
    -webkit-animation: slideRight 1s ease-in-out;
    animation: slideRight 1s ease-in-out; }
.moyn__extra-content {
  width: 60%;
  display: none;
  float: left; }
.moyn__extra-content.active {
  display: inline-block;
  animation: fadeIn 1s ease-in-out forwards; }
.moyn__menu--mobile {
  display: none;
  margin-bottom: 32px;
  padding-bottom: 16px; }
.moyn__menu--mobile .moyn__menu-item {
  display: inline-block;
  padding: 0 8px; }
.moyn__menu--mobile .moyn__menu-item:first-child {
  padding-left: 0; }
.moyn__menu--mobile .moyn__menu-item:last-child {
  padding-right: 0; }
.moyn__menu--mobile .moyn__menu-item:after {
  border: none;
  margin: 0;
  position: initial; }
.moyn__menu--mobile .moyn__menu-item.active {
  margin: 0; }
.moyn__menu--mobile .moyn__menu-item.active:after {
  width: 0; }
.moyn__content--mobile {
  display: none; }
.moyn__menu-content {
  max-width: 60%;
  right: 0;
  position: absolute;
  text-align: center;
  margin-top: 32px;
  display: none;
  cursor: default;
  opacity: 0; }
.moyn__menu-item.active .moyn__menu-content {
  display: block;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s; }
.moyn__content-nav {
  width: 60%;
  right: 0;
  position: absolute;
  text-align: center;
  margin: auto;
  margin-top: -8px;
  display: none;
  cursor: default;
  opacity: 0;
  flex-wrap: wrap;
  float: right;
  color: rgba(255, 255, 255, 0.3); }
.moyn__menu-item.active .moyn__content-nav {
  display: flex;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  font-size: 16px; }
.moyn__founders-img {
  position: relative; }
  .moyn__founders-img--left {
    float: left;
    width: 50%;
    height: 120px;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    position: relative; }
    .moyn__founders-img--left img {
      height: 120px;
      transform: translateX(50px); }
    .moyn__founders-img--left .desc {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      text-align: right;
      display: none;
      background: black;
      padding-top: 16px; }
  .moyn__founders-img--right {
    float: left;
    width: 50%;
    height: 120px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    position: relative; }
    .moyn__founders-img--right img {
      height: 120px;
      transform: translateX(-50px); }
    .moyn__founders-img--right .desc {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: left;
      display: none;
      background: black;
      padding-top: 16px; }

.purchasing img.product-img {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px; }
.purchasing input {
  width: 100%;
  height: 32px; }
.purchasing textarea {
  width: 100%; }
.purchasing .product-desc {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  width: 40%;
  box-sizing: border-box; }
  .purchasing .product-desc .title {
    font-size: 16px;
    margin-bottom: 16px; }
  .purchasing .product-desc .description {
    margin-bottom: 32px; }
  .purchasing .product-desc .purchase {
    display: inline-block;
    padding: 8px 32px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
  .purchasing .product-desc .purchase:hover,
  .purchasing .product-desc .purchase:active {
    background: rgba(255, 255, 255, 0.3); }

.gallery {
  width: 508px;
  max-height: 432px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  float: right; }
  .gallery::-webkit-scrollbar {
    display: none; }
  .gallery__column {
    width: 508px;
    max-height: 432px;
    display: inline-block;
    vertical-align: middle; }
  .gallery__column-inner {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start; }
  .gallery__thumb {
    width: 250px;
    height: 100px;
    margin-bottom: 8px;
    animation: fadeIn 1s ease-in-out;
    cursor: pointer;
    margin-right: 4px; }
  .gallery__prev {
    content: "";
    float: left;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .gallery__body {
    text-align: left;
    width: 150px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 8px;
    white-space: normal; }
  .gallery__title {
    margin-bottom: 8px; }
  .gallery__desc {
    color: rgba(255, 255, 255, 0.3); }

.proj-nav {
  width: 508px;
  text-align: center;
  margin-top: -8px;
  float: right;
  display: flex;
  justify-content: space-between; }
  .proj-nav__item {
    padding: 0 16px;
    cursor: pointer;
    font-weight: 700; }
  .proj-nav__item.active, .proj-nav__item:hover {
    color: rgba(255, 255, 255, 0.7); }

.proj-next {
  content: "&gt;";
  position: absolute;
  right: -24px;
  top: 50%;
  font-size: 16px;
  cursor: pointer; }

.proj-prev {
  content: "&lt;";
  position: absolute;
  left: -24px;
  top: 50%;
  font-size: 16px;
  cursor: pointer; }

.proj-next,
.proj-prev {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  overflow: hidden; }
  .popup .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.8); }
  .popup .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 16px 32px;
    background: #000;
    border-radius: 6px; }
  .popup .close {
    content: "x";
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0.3); }
  .popup .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 24px; }
    .popup .navigation__next {
      content: ">";
      font-size: 24px;
      cursor: pointer;
      transform: translateX(30px);
      color: rgba(255, 255, 255, 0.3);
      display: inline-block;
      float: right; }
    .popup .navigation__prev {
      content: "<";
      font-size: 24px;
      cursor: pointer;
      transform: translateX(-30px);
      color: rgba(255, 255, 255, 0.3);
      display: inline-block;
      float: left; }
  .popup .carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
    .popup .carousel::-webkit-scrollbar {
      display: none; }
    .popup .carousel img {
      width: 480px;
      margin: auto;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px; }

.my-16 {
  margin: 16px 0; }

.my-32 {
  margin: 32px 0; }

.mx-16 {
  margin: 0 16px; }

.mx-32 {
  margin: 0 32px; }

.mt-16 {
  margin-top: 16px; }

.mt-32 {
  margin-top: 32px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-32 {
  margin-bottom: 32px; }

.ta-right {
  text-align: right; }

.ta-left {
  text-align: left; }

.ta-center {
  text-align: center; }

.relative {
  position: relative; }

.c-white {
  color: rgba(255, 255, 255, 0.7); }

@media (max-width: 576px) {
  .moyn__menu {
    display: none; }

  .moyn__menu--mobile {
    display: block; }

  .moyn__navbar--mobile {
    display: inline-block; }

  .moyn__content--mobile {
    display: block; }

  .popup .navigation,
  .popup .carousel,
  .popup .carousel img {
    width: 300px; } }
@media (max-width: 992px) {
  .proj-nav,
  .gallery,
  .gallery__column {
    width: 258; } }
@-webkit-keyframes slideRight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes slideRight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=moyn.css.map */
