@font-face {
    font-family: Futura;
    src: url("../fonts/futura-bk-bt-0140m_.ttf");
}

html, body {
	font-family: Futura, sans-serif;
	background-color: black;
	color: rgba(255, 255, 255, 0.3);
	font-size: 12px;
	box-sizing: border-box;
}

button:focus {
	outline: none
}

.moyn {
	&__container {
		position: relative;
		min-height: 100vh;
		box-sizing: border-box;
		margin: auto;
		padding: 0;
	}

	&__header {
		padding-top: 24px;
		box-sizing: border-box;

		img {
			width: 120px;
			height: auto;
			margin: 32px 0;
		}
	}

	&__footer {
		text-align: right;
		position: absolute;
		bottom: 8px;
		right: 16px;
		box-sizing: border-box;
	}

	&__navbar--mobile {
		margin: 24px 0;
		float: right;
		display: none;
	}

	&__menu {
		width: 40%;
		padding: 0;}

	&__menu-item {
		display: block;
		padding: 8px 0;
		color: rgba(255, 255, 255, 0.3);
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		letter-spacing: 1px;

		&.active {
			margin-bottom: 24px;
			color: rgba(255, 255, 255, 0.7);}
		&:hover {	
			color: rgba(255, 255, 255, 0.7);}
		&:after {
			content: "";
			width: 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			display: block;
			position: absolute;
			margin-top: 20px;}
		&.active:after {
			width: 100%;
			-webkit-animation: slideRight 1s ease-in-out;
			        animation: slideRight 1s ease-in-out;}
	}

	&__menu--mobile {
		display: none;
		margin-bottom: 32px;
		// border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding-bottom: 16px;}
	&__menu--mobile &__menu-item {
		display: inline-block;
		padding: 0 8px;}
	&__menu--mobile &__menu-item:first-child {
		padding-left: 0;}
	&__menu--mobile &__menu-item:last-child {
		padding-right: 0;}
	&__menu--mobile &__menu-item:after {
		border: none;
		margin: 0;
		position: initial;}
	&__menu--mobile &__menu-item.active {
		margin: 0;}
	&__menu--mobile &__menu-item.active:after {
		width: 0;}

	&__content--mobile {
		display: none;
	}


	&__menu-content {
		max-width: 60%;
		right: 0;
		position: absolute;
		text-align: center;
		margin-top: 32px;
		display: none;
		cursor: default;
		opacity: 0;}
	&__menu-item.active &__menu-content {
		display: block;
		animation: fadeIn 1s ease-in-out forwards;
		animation-delay: 1s;}

	&__content-nav {
		width: 60%;
		right: 0;
		position: absolute;
		text-align: center;
		margin: auto;
		margin-top: -8px;
		display: none;
		cursor: default;
		opacity: 0;
		flex-wrap: wrap;
		float: right;
		color: rgba(255, 255, 255, 0.3);
	}
	
	&__menu-item.active &__content-nav {
		display: flex;
		animation: fadeIn 1s ease-in-out forwards;
		animation-delay: 1s;
		font-size: 16px;
	}

	&__founders-img {
		position: relative;

		&--left {
			float: left;
			width: 50%;
			height: 120px;
			display: inline-block;
			overflow: hidden;
			text-align: right;
			position: relative;

			img {
				height: 120px;
				transform: translateX(50px);
			}

			.desc {
				position: absolute;
				width: 100%;
				height: 100%;
				right: 0;
				top: 0;
				text-align: right;
				display: none;
				background: black;
				padding-top: 16px;
			}
		}

		&--right {
			float: left;
			width: 50%;
			height: 120px;
			display: inline-block;
			overflow: hidden;
			text-align: left;
			position: relative;

			img {
				height: 120px;
				transform: translateX(-50px);
			}

			.desc {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				text-align: left;
				display: none;
				background: black;
				padding-top: 16px;
			}
		}
	}
}

.proj-gallery {
	width: 508px;
	height: 432px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	float: right;

	&::-webkit-scrollbar {
    display: none
	}

	&__column {
		width: 508px;
		height: 432px;
		display: inline-block;
		vertical-align: middle;
	}
	
	&__column-inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	&__thumb {
		width: 250px;
		height: 100px;
		margin-bottom: 8px;
		animation: fadeIn 1s ease-in-out;
		
		// &:nth-child(odd) {
		// 	margin-right: 8px;
		// }
	}

	&__prev {
		content: "";
		float: left;
		width: 100px;
		height: 100px;
		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("http://www.placehold.it/100x100")}

	&__body {
		text-align: left;
		width: 150px;
		height: 100px;
		background-color: rgba(255, 255, 255, 0.1);
		display: inline-block;
		padding: 8px;
		white-space: normal}

	&__title {
		margin-bottom: 8px;}
	&__desc {
		color: rgba(255, 255, 255, 0.3);}
}

.proj-nav {
	width: 508px;
	text-align: center;
	margin-top: -8px;
	float: right;
	display: flex;
	justify-content: space-between;

	&__item {
		padding: 0 16px;
		cursor: pointer;
		font-weight: 700;
	}

	&__item.active,
	&__item:hover {
		color: rgba(255, 255, 255, 0.7);
	}
}

.proj-next {
	content: "&gt;";
	position: absolute;
	right: -24px;
	top: 50%;
	font-size: 16px;
	cursor: pointer;
}

.proj-prev {
	content: "&lt;";
	position: absolute;
	left: -24px;
	top: 50%;
	font-size: 16px;	
	cursor: pointer;	
}

.proj-next,
.proj-prev {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


.popup-slider {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// display: none;
	overflow: hidden;

	.overlay {
		width: 100%;
		height: 100%;
		position: relative;
		background: rgba(0, 0, 0, 0.5);
	}

	.close {
		content: "x";
		font-size: 24px;
		position: absolute;
		cursor: pointer;
		top: 16px;
		right: 16px;
		width: 24px;
		height: 24px;
		color: rgba(255, 255, 255, 0.3);
	}

	.navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 480px;
		height: 24px;

		&__next {
			content: ">";
			font-size: 24px;
			cursor: pointer;
			transform: translateX(30px);
			color: rgba(255, 255, 255, 0.3);
			display: inline-block;
			float: right;
		}
		
		&__prev {
			content: "<";
			font-size: 24px;	
			cursor: pointer;	
			transform: translateX(-30px);
			color: rgba(255, 255, 255, 0.3);
			display: inline-block;
			float: left;
		}
	}

	.carousel {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 480px;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		
		&::-webkit-scrollbar {
			display: none
		}
		
		img {
			width: 480px;
			margin: auto;
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
	}
}

.mb-8 {margin-bottom: 16px;}
.mb-16 {margin-bottom: 16px;}
.mb-24 {margin-bottom: 16px;}
.ta-right {text-align: right}
.ta-left {text-align: left}
.ta-center {text-align: center}
.relative {position: relative}
.c-white {color: rgba(255, 255, 255, 0.7);}

@media (max-width: 576px) {
	.moyn__menu {display: none}
	.moyn__menu--mobile {display: block}
	.moyn__navbar--mobile {display: inline-block}
	.moyn__content--mobile {display: block}

	.popup-slider .navigation,
	.popup-slider .carousel,
	.popup-slider .carousel img {
		width: 300px;
	}
}

@media (max-width: 992px) {
	.proj-nav,
	.proj-gallery,
	.proj-gallery__column {
		width: 258;
	}
}


@-webkit-keyframes slideRight {
  0% {width: 0;}
  100% {width: 100%}
}

@keyframes slideRight {
  0% {width: 0;}
  100% {width: 100%}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}