@font-face {
    font-family: Futura;
    src: url("../fonts/futura-bk-bt-0140m_.ttf");
}

html, body {
	font-family: Futura, sans-serif;
	background-color: black;
	color: rgba(255, 255, 255, 0.3);
	font-size: 12px;
	box-sizing: border-box;
}

.show-sm {display: none;}
.hide-sm {display: block;}

button:focus {
	outline: none
}

.navbar--sm {
	margin: 24px 0;
	float: right;
	display: none;
}

.moyn-header {
	padding-top: 24px;
	box-sizing: border-box;

	img {
		width: 120px;
		height: auto;
		margin: 32px 0;
	}
}

.moyn-footer {
	text-align: right;
	position: absolute;
	bottom: 8px;
	right: 16px;
	box-sizing: border-box;
}

.moyn-control__holder {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.moyn-control {
	z-index: 997;
	display: flex;
	background: #0d0d0d;

	&__item {
		padding: 16px;
		font-weight: 700;
		text-align: center;
		flex-grow: 1;
		font-size: 18px;
		cursor: pointer;

		&.active {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}

.moyn-sidebar {
	width: 200px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0d0d0d;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 998;

	&.active {
		transform: translateX(0);}

	ul {
		padding-top: 160px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-left: 0;}
	li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		cursor: pointer;
		list-style: none;}
	li a {
		padding: 16px;
		display: block;
		color: rgba(255, 255, 255, 0.3);
		text-decoration: none;
	}
	li.active a {
		color: rgba(255, 255, 255, 0.7);
	}
}

.moyn-overlay {
	background: rgba(0, 0, 0, 0.6);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
}

.moyn-menu {
	width: 40%;
	padding: 0;
	display: inline-block;
	float: left;}

.moyn-content {
	max-width: 60%;
	right: 0;
	position: absolute;
	text-align: center;
	margin-top: 32px;
	display: none;
	cursor: default;
	opacity: 0;
	
	&--right {
		text-align: right;
	}
}

.moyn-content-nav {
	width: 60%;
	right: 0;
	position: absolute;
	text-align: center;
	margin: auto;
	margin-top: -8px;
	display: none;
	cursor: default;
	opacity: 0;
	flex-wrap: wrap;
	float: right;
	color: rgba(255, 255, 255, 0.3);
}

.moyn-menu-item {
	display: block;
	padding: 8px 0;
	color: rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	letter-spacing: 1px;

	a {color: rgba(255, 255, 255, 0.3);}
	a:hover {text-decoration: none}
	a:hover {	
		color: rgba(255, 255, 255, 0.7);}

	&.active {
		margin-bottom: 24px;

		.moyn-content {
			display: block;
			animation: fadeIn 1s ease-in-out forwards;
			animation-delay: 1s;}

		.moyn-content-nav {
			display: flex;
			animation: fadeIn 1s ease-in-out forwards;
			animation-delay: 1s;
			font-size: 16px;
		}
	}

	&.active,
	&.active a {
		color: rgba(255, 255, 255, 0.7);}
	&:after {
		content: "";
		width: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		display: block;
		position: absolute;
		margin-top: 20px;}
	&.active:after {
		width: calc(100% - 16px);
		-webkit-animation: slideRight 1s ease-in-out;
						animation: slideRight 1s ease-in-out;}
}



// .moyn-menu--sm {
// 	display: none;
// 	margin-bottom: 32px;
// 	padding: 0 16px;}

// .moyn-menu-item--sm {
// 	display: inline-block;
// 	padding: 0 8px;
// 	a {color: rgba(255, 255, 255, 0.3);}
// 	a:hover {text-decoration: none}
// 	a:hover {	
// 		color: rgba(255, 255, 255, 0.7);}

// 	&:first-child {
// 		padding-left: 0;}
// 	&:last-child {
// 		padding-right: 0;}
// 	&:after {
// 		border: none;
// 		margin: 0;
// 		position: initial;}
// 	&.active {
// 		margin: 0;}
// 	&.active:after {
// 		width: 0;}
// }

.moyn-content--sm {
	padding: 16px 16px 64px;
	display: none;
}

.moyn-extra-content {
	width: 60%;
	// display: none;
	float: left;
	padding-bottom: 64px;
	animation: fadeIn 1s ease-in-out forwards;

	&.active {
		display: inline-block;
		animation: fadeIn 1s ease-in-out forwards;
	}
}

.moyn-founders {
	position: relative;

	&--left {
		float: left;
		width: 50%;
		height: 120px;
		display: inline-block;
		overflow: hidden;
		text-align: right;
		position: relative;

		img {
			height: 120px;
			transform: translateX(-2px);
		}

		.desc {
			position: absolute;
			width: 100%;
			height: 100%;
			right: 0;
			top: 0;
			text-align: right;
			display: none;
			background: black;
			padding-top: 16px;
		}
	}

	&--right {
		float: left;
		width: 50%;
		height: 120px;
		display: inline-block;
		overflow: hidden;
		text-align: left;
		position: relative;

		img {
			height: 120px;
			transform: translateX(2px);
		}

		.desc {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			text-align: left;
			display: none;
			background: black;
			padding-top: 16px;
		}
	}
}



.moyn-btn {
	display: inline-block;
	padding: 8px 32px;
	border: 2px solid rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
	background: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.moyn-btn:hover,
.moyn-btn:active {
	background: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}

.purchasing {
	img.product-img {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-right: 16px;
		margin-bottom: 16px;
	}

	input {height: 32px;}
	input,
	textarea {
		width: 100%;
		background: transparent;
		color: rgba(255, 255, 255, 0.7);
		box-shadow: none;
		border: 1px solid rgba(255, 255, 255, 0.7);}
	input:focus,
	textarea:focus {
		outline: none;}

	.product-desc,
	.purchase-form {
		display: inline-block;
		color: rgba(255, 255, 255, 0.7);
		width: 40%;
		box-sizing: border-box;

		.title {
			font-size: 16px;
			margin-bottom: 16px;
		}

		.description {
			margin-bottom: 32px;
		}
	}
}

.gallery {
	width: 508px;
	max-height: 432px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	float: right;

	a {
		color: rgba(255, 255, 255, 0.7);
		text-decoration: none;
	}

	&::-webkit-scrollbar {
    display: none
	}

	&__column {
		width: 508px;
		max-height: 432px;
		display: inline-block;
		vertical-align: middle;
		// margin-right: 8px;
	}
	
	&__column-inner {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	
	&__thumb {
		width: 250px;
		height: 100px;
		margin-bottom: 8px;
		animation: fadeIn 1s ease-in-out;
		cursor: pointer;
		margin-right: 4px;
		
		// &:nth-child(even) {
		// 	margin-right: 8px;
		// }
	}

	&__prev {
		content: "";
		float: left;
		width: 100px;
		height: 100px;
		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;}

	&__body {
		text-align: left;
		width: 150px;
		height: 100px;
		background-color: rgba(255, 255, 255, 0.1);
		display: inline-block;
		padding: 8px;
		white-space: normal}

	&__title {
		margin-bottom: 8px;}
	&__desc {
		color: rgba(255, 255, 255, 0.3);}
}

.proj-nav {
	width: 508px;
	text-align: center;
	margin-top: -8px;
	float: right;
	display: flex;
	justify-content: space-between;

	&__item {
		padding: 0 16px;
		cursor: pointer;
		font-weight: 700;
	}

	&__item.active,
	&__item:hover {
		color: rgba(255, 255, 255, 0.7);
	}
}

.proj-next {
	content: "&gt;";
	position: absolute;
	right: -24px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	cursor: pointer;
}

.proj-prev {
	content: "&lt;";
	position: absolute;
	left: -24px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;	
	cursor: pointer;	
}

.proj-next,
.proj-prev {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	overflow: hidden;
	z-index: 999;

	.overlay {
		width: 100%;
		height: 100%;
		position: relative;
		background: rgba(0, 0, 0, 0.8);
	}

	.modal-form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 320px;
		padding: 16px 32px;
		background: #000;
		border-radius: 6px;
	}

	.close {
		content: "x";
		font-size: 24px;
		position: absolute;
		cursor: pointer;
		top: 16px;
		right: 16px;
		width: 24px;
		height: 24px;
		color: rgba(255, 255, 255, 0.3);
	}

	.navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 480px;
		height: 24px;

		&__next {
			content: ">";
			font-size: 24px;
			cursor: pointer;
			transform: translateX(30px);
			color: rgba(255, 255, 255, 0.3);
			display: inline-block;
			float: right;
		}
		
		&__prev {
			content: "<";
			font-size: 24px;	
			cursor: pointer;	
			transform: translateX(-30px);
			color: rgba(255, 255, 255, 0.3);
			display: inline-block;
			float: left;
		}
	}

	.carousel {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 480px;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		
		&::-webkit-scrollbar {
			display: none
		}
		
		img {
			width: 480px;
			margin: auto;
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
	}
}

.moyn-hamburger-holder {
	position: fixed;
	top: 48px;
	right: 16px;
	z-index: 998;
}

.moyn-hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg) scale(0.5);
  -moz-transform: rotate(0deg) scale(0.5);
  -o-transform: rotate(0deg) scale(0.5);
  transform: rotate(0deg) scale(0.5);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.moyn-hamburger span{
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.moyn-hamburger span:nth-child(1) {
  top: 0px;
}

.moyn-hamburger span:nth-child(2) {
  top: 18px;
}

.moyn-hamburger span:nth-child(3) {
  top: 36px;
}

.moyn-hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.moyn-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.moyn-hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



.my-16 {margin: 16px 0;}
.my-32 {margin: 32px 0;}
.mx-16 {margin: 0 16px;}
.mx-32 {margin: 0 32px;}

.mt-16 {margin-top: 16px}
.mt-32 {margin-top: 32px}
.mb-8 {margin-bottom: 8px}
.mb-16 {margin-bottom: 16px}
.mb-32 {margin-bottom: 32px}
.f-right {float: right}
.ta-right {text-align: right}
.ta-left {text-align: left}
.ta-center {text-align: center}
.relative {position: relative}
.c-white {color: rgba(255, 255, 255, 0.7);}

@media (max-width: 576px) {
	.popup .navigation,
	.popup .carousel,
	.popup .carousel img {
		width: 300px;
	}

	.hide-sm {display: none}
	.show-sm {display: block}

	.moyn-extra-content {width: 100%;}
	.purchasing,
	.purchasing .purchase-form,
	.purchasing img.product-img,
	.purchasing .product-desc {
		width: 100%
	}

}

@media (max-width: 992px) {
	.proj-nav,
	.gallery,
	.gallery__column {
		width: 258;
	}
}


.hide {display: none}


@-webkit-keyframes slideRight {
  0% {width: 0;}
  100% {width: calc(100% - 16px)}
}

@keyframes slideRight {
  0% {width: 0;}
  100% {width: calc(100% - 16px)}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}